html {
    font-size: var(--body-font-base);
}

body {
    font-family: var(--body-font-family);
    background-color: var(--body-color);
    color: var(--body-text-color);
    overflow-x: hidden;
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
}