.header {
    padding-block: 0.81rem;
    background-color: var(--color-white);

    .inner {
        @extend %container;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0.88rem;
        flex-wrap: nowrap;
    }

    .logo {
        flex-shrink: 0;
    }

	.actions {
		display: flex;
		flex-wrap: nowrap;
		column-gap: 0.62rem;

        > * {
            padding-inline: 1.35rem;
        }
	}
}