.formImageField {
    position: relative;

    .label {
        display: flex;
        align-items: stretch;
        
        overflow: hidden;
        cursor: pointer;
    }

    .labelText {
        padding-inline: 0.94rem;
        padding-block: 0.88rem;
        border: 1px solid rgba(0, 0, 0, 0.87);
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .input {
        visibility: hidden;
        width: 1px;
        height: 1px;
        position: absolute;
    }

    .valueHolder {
        width: 100%;
        padding-inline: 1rem;
        border-left: 0;
        border: 1px solid var(--color-grey-light);
        display: flex;
        align-items: center;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

    &.error {
        .labelText,
        .valueHolder {
            border-color: var(--color-error);
            border-width: 2px;
        }

        .valueHolder {
            border-left: 0;
        }
    }

    .errorMessage {
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 1rem;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 0.875rem;
        color: var(--color-error);
    }
}